<p-card>
    <div class="ui-g ui-fluid">
        <form [formGroup]="formularioCabecera">
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom">CMP: </label>
                <input type="text" formControlName="cmp" pInputText placeholder="CMP">
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom">Apellido Paterno: </label>
                <input type="text" formControlName="apellidoPaterno" pInputText placeholder="Apellido Paterno">
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom">Apellido Materno: </label>
                <input type="text" formControlName="apellidoMaterno" pInputText placeholder="Apellido Materno">
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom">Nombres: </label>
                <input type="text" formControlName="nombres" pInputText placeholder="Nombres">
            </div>


            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" class="sba-button btn btn-block"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" class="sba-button btn btn-block ui-button-secondary"></button>
            </div>
        </form>
    </div>
</p-card>