<p-card>
    <div class="ui-g ui-fluid">
        <form [formGroup]="formularioCabecera">
            <div class="ui-g-12 ui-md-2">
                <input type="text" formControlName="usuario" pInputText placeholder="Usuario">
            </div>
            <div class="ui-g-12 ui-md-8">
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="goListarItems()"></button>
            </div>

            <div class="ui-g-12">
                <p-table [value]="listModelo" [columns]="columnas" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="codventa" autoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <span class="ui-column-title">{{col.header}}</span>
                                <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                            <td class="action-td">
                                <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="ui-g-12">
                <label class="label-custom">Nota: </label>
                <textarea [rows]="5" pInputTextarea autoResize="autoResize" formControlName="nota" placeholder="Nota"></textarea>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" class="sba-button btn btn-block"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" class="sba-button btn btn-block ui-button-secondary"></button>
            </div>
        </form>
    </div>

    <p-dialog header="MAESTRO DE ITEMS" *ngIf="isHabilitarItems" [(visible)]="isHabilitarItems" [modal]="true" [closable]="false" [autoZIndex]>
        <div class="ui-g ui-fluid">
            <app-panel-items></app-panel-items>
        </div>
    </p-dialog>

</p-card>