<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-1">
            <h1>SALES</h1>
            <div class="overview-value">$25,620</div>
            <div class="overview-ratio">
                <div class="overview-direction">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <div class="overview-ratio-value">
                    51%
                </div>
            </div>
            <img src="assets/layout/images/dashboard/graph-blue.svg" alt="apollo-layout" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-2">
            <h1>VIEWS</h1>
            <div class="overview-value">9521</div>
            <div class="overview-ratio">
                <div class="overview-direction">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <div class="overview-ratio-value">
                    36%
                </div>
            </div>
            <img src="assets/layout/images/dashboard/graph-green.svg" alt="apollo-layout" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-3">
            <h1>USERS</h1>
            <div class="overview-value">452</div>
            <div class="overview-ratio">
                <div class="overview-direction">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <div class="overview-ratio-value">
                    19%
                </div>
            </div>
            <img src="assets/layout/images/dashboard/graph-yellow.svg" alt="apollo-layout" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-4">
            <h1>SOCIAL</h1>
            <div class="overview-value">65922</div>
            <div class="overview-ratio">
                <div class="overview-direction">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <div class="overview-ratio-value">
                    25%
                </div>
            </div>
            <img src="assets/layout/images/dashboard/graph-red.svg" alt="apollo-layout" />
        </div>
    </div>

    <div class="ui-g-12">
        <p-panel header="Status" styleClass="circle-panel">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-3 ui-md-6">
                    <div class="status-title" style="color:#6ebc3b">Users</div>
                    <div class="circle1">
                        <i class="fa fa-user"></i>
                        <span>95</span>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-3 ui-md-6">
                    <div class="status-title" style="color:#f6a821">Mobile</div>
                    <div class="circle2">
                        <i class="fa fa-mobile"></i>
                        <span>95</span>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-3 ui-md-6">
                    <div class="status-title" style="color:#039ade">Pageviews</div>
                    <div class="circle3">
                        <i class="fa fa-eye"></i>
                        <span>95</span>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-3 ui-md-6">
                    <div class="status-title" style="color:#d66351">Sales</div>
                    <div class="circle4">
                        <i class="fa fa-dollar"></i>
                        <span>95</span>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>